.orderpage {
  padding-top: 120px;
}
.order-address {
  padding: 30px;
  background-color: #f2f2f2;
}
.order-item-content {
  margin-top: 30px;
  background-color: #f2f2f2;
  padding: 30px;
  margin-bottom: 30px;
}
.order-item {
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .order-item-title {
    display: none;
  }
}
